DB_URL_MODE="auto" # auto | docker | local
DATABASE_URL_DOCKER="postgresql://postgres:sobol24918@db:5432/SendIt-db"
DATABASE_URL_LOCAL="postgresql://postgres:sobol24918@localhost:5433/SendIt-db"
DATABASE_URL="postgresql://postgres:sobol24918@db:5432/SendIt-db"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="sobol24918"
POSTGRES_DB="SendIt-db"

JWT_SECRET=""
NODE_ENV="development" # production
JWT_EXPIRES_IN="1h"

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587 
FRONTEND_URL="http://localhost:5173"
SMTP_FROM=""
EMAIL_ADDRESS=""
EMAIL_PASS=""
